package <package_name>;

/**
 * <p>This is the generated class for <code>web3j import</code></p>
 * <p>For more information on how to run this project, please refer to our <a href="https://docs.web3j.io/latest/command_line_tools/">documentation</a></p>
 */
class <project_name> {

    companion object {
        @JvmStatic
        fun main(args: Array<String>) {
        }
    }
}